<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="navbar-logo">               
                <table id="taskTable">
                    <tr>
                        <td><a id="btnBack"><span class="<%- backButton %>" aria-hidden="true"></span></a></td>




                        <td><a class="navbar-brand" rel="home" title="<%- country %>" href="#selectcountry"><img src="<%- imagePath %>" class="img-responsive" alt="Responsive image"></a></td>
                        <td><%- title %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About&nbsp;&#10003;</a></li>
                <li><a href="#edit">Edit&nbsp;&#10004;</a></li>
                <li><a href="#delete">Delete &#x2714;</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class ="All active">><a href="#category/all">All&nbsp;&#10003;</a></li>
                        <li class="Starter"><a href="#category/starter">Starter</a></li>
                        <li class="Side"><a href="#category/side">Side</a></li>
                        <li class="Main"><a href="#category/main">Main</a></li>
                        <li class="Desert"><a href="#category/desert">Desert</a></li>
                        <li class="divider"></li>
                        <li class="Rice"><a href="#category/rice">Rice</a></li>
                        <li class="Bread"><a href="#category/bread">Bread</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>