<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="navbar-logo">               
                <table id="taskTable">
                    <tr>
                        <td>C</td>
                        <td><a class="navbar-brand" rel="home" title="<%- country %>" href="#selectcountry"><img src="<%- imagePath %>" class="img-responsive" alt="Responsive image"></a></td>
                        <td><%- title %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#edit">Edit</a></li>
                <li><a href="#delete">Delete</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Starter</a></li>
                        <li><a href="#">Side</a></li>
                        <li><a href="#">Main</a></li>
                        <li><a href="#">Desert</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Rice</a></li>
                        <li><a href="#">Bread</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>