<div>
    <div class="form-group">
        <div class="col-xs-8">
            <p class="form-control "><%- name %></p>
        </div>
        <div class="col-xs-2">
            <p class="form-control alert-info"><%- country %></p>
        </div>
        <div class="col-xs-2">
            <p class="form-control alert-info"><%- category %></p>
        </div>
    </div>


    <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <small>Description</small> <span class="caret"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <textarea class="form-control" cols="185" id="Description" readonly name="Description" rows="12"><%- description %></textarea>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                        <small>Ingredients</small> <span class="caret"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-xs-6">
                        <textarea class="form-control" id="Ingredient1" readonly name="Ingredient1" rows="12"><%- ingredient1 %></textarea>
                    </div>

                    <div class="col-xs-6">
                        <textarea class="form-control" id="Ingredient2" readonly name="Ingredient2" rows="12"><%- ingredient2 %></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <small>Production</small> <span class="caret"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-xs-12">
                        <textarea class="form-control" id="Production" readonly name="Production" rows="25"><%- production %></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <small>Other</small> <span class="caret"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-xs-2">
                            <p class="control-label" name="Production">Author</p>
                        </div>
                        <div class="col-xs-2">
                            <input type="text" placeholder="Author" title="Author" class="form-control" id="author" readonly name="author" value="<%- author %>" />
                        </div>
                        <div class="col-xs-2">
                            <p class="control-label">Source</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-control"><%- source %></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-2">
                            <p class="control-label">Preparationtime</p>
                        </div>
                        <div class="col-xs-2">
                            <p class="form-control" title="Preparation time in minutes"><%- preparationtime %></p>
                        </div>
                        <div class="col-xs-2">
                            <p class="control-label">Cookingtime</p>
                        </div>
                        <div class="col-xs-2">
                            <p class="form-control" title="Cooking time in minutes"><%- cookingtime %></p>
                        </div>
                        <div class="col-xs-2">
                            <p class="control-label">Serves</p>
                        </div>
                        <div class="col-xs-2">
                            <p class="form-control"><%- serves %></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="clear align-center">
        <input id="btnEditRecipe" type="button" value="Edit" class="btn btn-primary" />
        <button type="button" id="btnDeleteRecipe" class="btn btn-primary">Delete</button>
        <input id="btnCreateRecipe" type="button" value="Create" class="btn btn-primary" />
        <input id="btnBack" type="button" value="Back" class="btn btn-primary" />
    </div>
</div>